intro {
    background-color: pink;
    
}
p::first-letter {
    font-size: 200%;
    color: #8A2BE2;
  }

  h1 {
    color: blue;
    text-align: center;
    background-color: yellow;
}

p ~ ul {
    background: #ff0000;
  }

  a[target] {
    background-color:purple;
  }

  [title~=flower] {
    border: 5px solid yellow;
  }
  div[class$="test"] {
    background: #0000ff;
  }